<?xml version="1.0" encoding="utf-8"?>
<manifest package="pl.edu.zut.mad.appwizut2"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mad_blue_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.MyGroups"
            android:screenOrientation="portrait"
            android:label="@string/group_settings_title" >
        </activity>

        <!--<service android:name=".UpdateWidgetService"-->
            <!--android:exported="true" >-->
        <!--</service>-->

    </application>

</manifest>
